In [1]:
import openpyxl
import pprint

In [2]:
import pandas as pd 
file = 'produceSales.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)

['Sheet1']

In [3]:
df = data.parse('Sheet1')
print(df)

                PRODUCE  COST PER POUND  POUNDS SOLD   TOTAL
0              Potatoes            0.86         21.6   18.58
1                  Okra            2.26         38.6   87.24
2            Fava beans            2.69         32.8   88.23
3            Watermelon            0.66         27.3   18.02
4                Garlic            1.19          4.9    5.83
5              Parsnips            2.27          1.1    2.50
6             Asparagus            2.49         37.9   94.37
7              Avocados            3.23          9.2   29.72
8                Celery            3.07         28.9   88.72
9                  Okra            2.26         40.0   90.40
10              Spinach            4.12         30.0  123.60
11             Cucumber            1.07         36.0   38.52
12             Apricots            3.71         29.4  109.07
13                 Okra            2.26          9.5   21.47
14           Fava beans            2.69          5.3   14.26
15           Watermelon            0.66         35.4   23.36
16               Ginger            5.13         14.4   73.87
17                 Corn            1.07         12.2   13.05
18           Grapefruit            0.76         35.7   27.13
19               Ginger            5.13         15.2   77.98
20             Eggplant            2.32          5.0   11.60
21             Cucumber            1.07         31.8   34.03
22        Green cabbage            0.80          2.8    2.24
23             Eggplant            2.32         32.8   76.10
24       Yellow peppers            2.87         26.5   76.06
25               Garlic            1.19         38.2   45.46
26               Grapes            2.63         17.4   45.76
27           Watermelon            0.66          7.3    4.82
28             Cherries            9.50         25.6  243.20
29               Apples            1.88          6.1   11.47
...                 ...             ...          ...     ...
23727        Grapefruit            0.76         13.5   10.26
23728       Green beans            2.52         34.0   85.68
23729          Parsnips            2.27         28.1   63.79
23730  Butternut squash            1.28          8.9   11.39
23731      Strawberries            4.40          1.1    4.84
23732            Celery            3.07         18.5   56.80
23733            Daikon            1.40          1.8    2.52
23734    Yellow peppers            2.87         14.2   40.75
23735              Corn            1.07         38.1   40.77
23736         Red onion            0.78         19.7   15.37
23737        Fava beans            2.69          5.8   15.60
23738            Ginger            5.13         20.2  103.63
23739  Butternut squash            1.28         16.1   20.61
23740              Lime            1.06          5.2    5.51
23741          Apricots            3.71         17.6   65.30
23742          Eggplant            2.32         28.5   66.12
23743            Apples            1.88          1.2    2.26
23744        Fava beans            2.69          5.2   13.99
23745             Lemon            1.29          5.5    7.10
23746             Beets            1.51          5.7    8.61
23747  Butternut squash            1.28         36.6   46.85
23748              Kale            5.02         16.8   84.34
23749           Bananas            0.86         26.1   22.45
23750          Potatoes            0.86         11.5    9.89
23751    Yellow peppers            2.87         26.9   77.20
23752          Tomatoes            3.16          9.7   30.65
23753          Eggplant            2.32         15.0   34.80
23754          Coconuts            1.18          4.2    4.96
23755          Potatoes            0.86         39.8   34.23
23756         Red onion            0.78         39.3   30.65

[23757 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23757 entries, 0 to 23756
Data columns (total 4 columns):
PRODUCE           23757 non-null object
COST PER POUND    23757 non-null float64
POUNDS SOLD       23757 non-null float64
TOTAL             23757 non-null float64
dtypes: float64(3), object(1)
memory usage: 928.0+ KB

In [6]:
df.head(10)

      PRODUCE  COST PER POUND  POUNDS SOLD  TOTAL
0    Potatoes            0.86         21.6  18.58
1        Okra            2.26         38.6  87.24
2  Fava beans            2.69         32.8  88.23
3  Watermelon            0.66         27.3  18.02
4      Garlic            1.19          4.9   5.83
5    Parsnips            2.27          1.1   2.50
6   Asparagus            2.49         37.9  94.37
7    Avocados            3.23          9.2  29.72
8      Celery            3.07         28.9  88.72
9        Okra            2.26         40.0  90.40

In [7]:
ps = openpyxl.load_workbook('produceSales.xlsx')

type(ps)

openpyxl.workbook.workbook.Workbook

In [8]:
sheet = ps['Sheet1']

TotalInfo = {}

In [9]:
sheet.max_row
#returns the total number of rows in the sheet

23758

In [10]:
sheet.max_column

#returns the total number of column in the sheet

5

In [11]:
for row in range(2, sheet.max_row + 1):
    
    # each row in the spreadsheet represents information for a particular purchase of a fruit.

    produce = sheet['B' + str(row)].value
    
    cost_per_pound = sheet['C' + str(row)].value
    
    pounds_sold = sheet['D' + str(row)].value
    
    total_sales = sheet['E' + str(row)].value
# the first column is B followed by C and so on.
# Each value in a cell is represented by a column letter and a row number.
# so the first element in the sheet is B1, next column C1 and so on. 
# This enables us to iterate over the entire cells.

    
    TotalInfo.setdefault(produce,{'Total_cost_per_pound': 0,
                                  'Total_pounds_sold': 0, 
                                  'Total_sales': 0,
                                 'Total_Purchase_Instances': 0})
    
# Each row represents a fruit, so increment by the new corresponding values.   
 

    TotalInfo[produce]['Total_cost_per_pound'] += float(cost_per_pound)
    
    TotalInfo[produce]['Total_pounds_sold'] += int(pounds_sold)
    
    TotalInfo[produce]['Total_sales'] += int(total_sales)
    
    
    TotalInfo[produce]['Total_Purchase_Instances'] += 1

In [12]:
TotalInfo

{'Apples': {'Total_Purchase_Instances': 627,
  'Total_cost_per_pound': 1178.7600000000068,
  'Total_pounds_sold': 12119,
  'Total_sales': 22999},
 'Apricots': {'Total_Purchase_Instances': 601,
  'Total_cost_per_pound': 2229.7100000000155,
  'Total_pounds_sold': 11491,
  'Total_sales': 43332},
 'Asparagus': {'Total_Purchase_Instances': 608,
  'Total_cost_per_pound': 1513.9200000000048,
  'Total_pounds_sold': 12566,
  'Total_sales': 31680},
 'Avocados': {'Total_Purchase_Instances': 604,
  'Total_cost_per_pound': 1950.9200000000092,
  'Total_pounds_sold': 12098,
  'Total_sales': 39649},
 'Bananas': {'Total_Purchase_Instances': 621,
  'Total_cost_per_pound': 534.0600000000063,
  'Total_pounds_sold': 12357,
  'Total_sales': 10546},
 'Beets': {'Total_Purchase_Instances': 612,
  'Total_cost_per_pound': 924.1199999999955,
  'Total_pounds_sold': 11981,
  'Total_sales': 18212},
 'Bok choy': {'Total_Purchase_Instances': 583,
  'Total_cost_per_pound': 827.8599999999927,
  'Total_pounds_sold': 11298,
  'Total_sales': 16118},
 'Brussels sprouts': {'Total_Purchase_Instances': 580,
  'Total_cost_per_pound': 956.999999999991,
  'Total_pounds_sold': 11680,
  'Total_sales': 19425},
 'Butternut squash': {'Total_Purchase_Instances': 589,
  'Total_cost_per_pound': 753.9199999999896,
  'Total_pounds_sold': 11237,
  'Total_sales': 14419},
 'Carrots': {'Total_Purchase_Instances': 589,
  'Total_cost_per_pound': 742.1399999999959,
  'Total_pounds_sold': 11931,
  'Total_sales': 15089},
 'Celery': {'Total_Purchase_Instances': 586,
  'Total_cost_per_pound': 1799.0199999999913,
  'Total_pounds_sold': 12064,
  'Total_sales': 37577},
 'Cherries': {'Total_Purchase_Instances': 619,
  'Total_cost_per_pound': 5880.5,
  'Total_pounds_sold': 12102,
  'Total_sales': 117361},
 'Coconuts': {'Total_Purchase_Instances': 573,
  'Total_cost_per_pound': 676.1399999999956,
  'Total_pounds_sold': 11592,
  'Total_sales': 13700},
 'Corn': {'Total_Purchase_Instances': 578,
  'Total_cost_per_pound': 618.4600000000022,
  'Total_pounds_sold': 11436,
  'Total_sales': 12234},
 'Cucumber': {'Total_Purchase_Instances': 593,
  'Total_cost_per_pound': 634.510000000003,
  'Total_pounds_sold': 11743,
  'Total_sales': 12534},
 'Daikon': {'Total_Purchase_Instances': 588,
  'Total_cost_per_pound': 823.1999999999915,
  'Total_pounds_sold': 11868,
  'Total_sales': 16716},
 'Eggplant': {'Total_Purchase_Instances': 600,
  'Total_cost_per_pound': 1391.9999999999998,
  'Total_pounds_sold': 11587,
  'Total_sales': 27174},
 'Fava beans': {'Total_Purchase_Instances': 586,
  'Total_cost_per_pound': 1576.340000000021,
  'Total_pounds_sold': 11431,
  'Total_sales': 31184},
 'Garlic': {'Total_Purchase_Instances': 630,
  'Total_cost_per_pound': 749.70000000001,
  'Total_pounds_sold': 12221,
  'Total_sales': 14569},
 'Ginger': {'Total_Purchase_Instances': 587,
  'Total_cost_per_pound': 3011.3100000000413,
  'Total_pounds_sold': 11648,
  'Total_sales': 60825},
 'Grapefruit': {'Total_Purchase_Instances': 595,
  'Total_cost_per_pound': 452.1999999999965,
  'Total_pounds_sold': 11437,
  'Total_sales': 8617},
 'Grapes': {'Total_Purchase_Instances': 617,
  'Total_cost_per_pound': 1622.7100000000232,
  'Total_pounds_sold': 12013,
  'Total_sales': 32023},
 'Green beans': {'Total_Purchase_Instances': 579,
  'Total_cost_per_pound': 1459.079999999992,
  'Total_pounds_sold': 11219,
  'Total_sales': 28640},
 'Green cabbage': {'Total_Purchase_Instances': 580,
  'Total_cost_per_pound': 464.00000000000443,
  'Total_pounds_sold': 11357,
  'Total_sales': 9010},
 'Green peppers': {'Total_Purchase_Instances': 571,
  'Total_cost_per_pound': 1079.1899999999966,
  'Total_pounds_sold': 11717,
  'Total_sales': 22359},
 'Kale': {'Total_Purchase_Instances': 596,
  'Total_cost_per_pound': 2991.9199999999905,
  'Total_pounds_sold': 12016,
  'Total_sales': 61431},
 'Lemon': {'Total_Purchase_Instances': 607,
  'Total_cost_per_pound': 783.0299999999959,
  'Total_pounds_sold': 12110,
  'Total_sales': 15690},
 'Lettuce': {'Total_Purchase_Instances': 623,
  'Total_cost_per_pound': 1171.2400000000064,
  'Total_pounds_sold': 11608,
  'Total_sales': 22047},
 'Lime': {'Total_Purchase_Instances': 592,
  'Total_cost_per_pound': 627.5199999999951,
  'Total_pounds_sold': 11658,
  'Total_sales': 12359},
 'Okra': {'Total_Purchase_Instances': 638,
  'Total_cost_per_pound': 1441.8799999999949,
  'Total_pounds_sold': 12674,
  'Total_sales': 28985},
 'Orange': {'Total_Purchase_Instances': 562,
  'Total_cost_per_pound': 612.5799999999978,
  'Total_pounds_sold': 10930,
  'Total_sales': 11922},
 'Papaya': {'Total_Purchase_Instances': 582,
  'Total_cost_per_pound': 779.8800000000022,
  'Total_pounds_sold': 11512,
  'Total_sales': 15504},
 'Parsnips': {'Total_Purchase_Instances': 575,
  'Total_cost_per_pound': 1305.2499999999923,
  'Total_pounds_sold': 11006,
  'Total_sales': 25298},
 'Potatoes': {'Total_Purchase_Instances': 581,
  'Total_cost_per_pound': 499.6600000000058,
  'Total_pounds_sold': 11966,
  'Total_sales': 10212},
 'Red onion': {'Total_Purchase_Instances': 619,
  'Total_cost_per_pound': 482.81999999999243,
  'Total_pounds_sold': 12263,
  'Total_sales': 9476},
 'Spinach': {'Total_Purchase_Instances': 555,
  'Total_cost_per_pound': 2286.5999999999676,
  'Total_pounds_sold': 11487,
  'Total_sales': 48091},
 'Strawberries': {'Total_Purchase_Instances': 597,
  'Total_cost_per_pound': 2626.8000000000293,
  'Total_pounds_sold': 11423,
  'Total_sales': 51145},
 'Tomatoes': {'Total_Purchase_Instances': 596,
  'Total_cost_per_pound': 1883.3600000000188,
  'Total_pounds_sold': 11751,
  'Total_sales': 37679},
 'Watermelon': {'Total_Purchase_Instances': 561,
  'Total_cost_per_pound': 370.2600000000032,
  'Total_pounds_sold': 11235,
  'Total_sales': 7307},
 'Yellow peppers': {'Total_Purchase_Instances': 577,
  'Total_cost_per_pound': 1655.9899999999773,
  'Total_pounds_sold': 11890,
  'Total_sales': 34615}}

In [13]:
resultFile = open('Total_info.txt', 'w')
resultFile.write(pprint.pformat(TotalInfo))
resultFile.close()
print('Done.')

Done.